.photo {
    height: 30em;
    width: 35em;
}

.listGroupItem{
    border:0px;
}

.label {
    font-weight: 600;
}

.detail {
    font-style: italic;
    color: gray;
    font-weight: 500;
}

.description {
    font-weight: 500;
    color: green;
    font-size:2em;
}

.row {
    margin-left: 1em;
    margin-top: 1em;
}

.originalPrice {
    font-weight: bold;
}

.discount {
    font-style: italic;
}

.finalPrice {
    font-weight: 700;
    font-size: medium;
}

