.photo {
    height: 25em;
    width: 30em;
    display: grid;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.5em;
}


.label{
    font-weight:600;
}

.detail {
    font-style: italic;
    color: gray;
    font-weight: 500;
}

.description {
    font-weight: 500;
    color: green;
    font-size:2em;
}

.row {
    margin-left: 1em;
    margin-top: 2em;
}

.originalPrice {
    font-weight: bold;
}

.discount {
    font-style: italic;
}

.finalPrice {
    font-weight: 700;
    font-size: medium;
}

